*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test{
    border: 1px solid white;
    height: 40px;
    width: 200px;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: rgb(113, 113, 113);
    height: 100vh;
    width: 100vw;
}

li{
    list-style: none;
}

/* HOVER *******************************/
.li-become li{
    transition: 0.3s;
    cursor: pointer;
}

.become{
    cursor: pointer;
    transition: 0.3s;
}

.become-white:hover{
    color: white;
}

.li-become-white li:hover{
    color: white;
}

.become-green:hover{
    color: rgb(13, 230, 49);
}

.li-become-green li:hover{
    color: rgb(13, 230, 49);
}

.become-bg-green:hover{
    background-color: rgb(13, 230, 49);
}

.li-short-borderB li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li-short-borderB li::after{
    content: "";
    width: 40%;
    height: 3px;
    background-color: rgb(13, 230, 49);
    margin-top: 2px;
    transition: 0.3s;
    opacity: 0;
}

.li-short-borderB li:hover::after{
    opacity: 1;
}



/* TEXT ******************************/
h1,
h2,
h3,
h4,
h5,
h6{
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

.txt-center{
    text-align: center;
}

.fw600{
    font-weight: 600;
}

.fs0-7rem{
    font-size: 0.7rem;
}

.fs0-8rem{
    font-size: 0.8rem;
}

.fs0-9rem{
    font-size: 0.9rem;
}

.fs2rem{
    font-size: 2rem;
}

/* COLOR */
.white{
    color: white;
}

/************************************************************
MAIN 
*************************************************************/
main{
    display: flex;
    height: calc(100vh - 90px);
}


/************************************************************
ASIDE
*************************************************************/
aside{
    background-color: rgb(0, 0, 0);
    height: 100%;
    flex-basis: 230px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

/* TOP SIDE */
aside .logo{
    padding: 18px;
    padding-right: 75px;
}

.aside-link li{
    display: flex;
    align-items: center;
    border-left: 3px solid transparent;
    padding: 3px 0;
    padding-left: 15px;
}

.aside-link li:hover{
    border-color:  rgb(13, 230, 49);
}

.li-img-link li > div{
    width: 25px;
    margin-right: 5px;
}

.playlist{
    padding: 20px 0 40px;
    padding-left: 18px;
}

.playlist h3{
    padding: 5px 0;
}

.create-play{
    display: flex;
    align-items: center;
    color: rgb(113, 113, 113);
}

.playlist button{
    border-radius: 0;
    border: none;
    background-color: rgb(163, 163, 163);
    width: 38px;
    height: 38px;
    font-size: 2rem;
    margin-right: 10px;
}

.playlist .create-play:hover button{
    background-color: rgb(13, 230, 49);
} 

.playlist li{
    padding: 10px 0;
}

/* BOT SIDE */
.bot-side{
    padding: 0 18px;
}

.bot-side span img{
    width: 1rem ;
    margin-right: 10px;
}

.bot-side span.download{
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(113, 113, 113);
}

.bot-side #username{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.bot-side #username:hover{
    transform: scale(1.02);
}

span.user-pic-container{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: rgb(133, 133, 133);
    overflow: hidden;
    margin-right: 10px;
}

span.user-pic-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/************************************************************
MAIN-CONTENT
*************************************************************/
.upgrade{
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
}

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background-color: rgb(20, 25, 34);
    height: 100%;
    flex-basis: calc(100vw - 230px);
    align-items: center;
    overflow-y: auto;
}

.link-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-list li{
    padding: 10px;
}

/* MAIN CONTENT COL/CARD */
.col{
    width: 100%;
    margin: 30px 0px;
}

.main-content .cards{
    display: flex;
    flex-wrap: wrap;
}

.col .card{
    padding: 5px;
    width: calc(100% / 6);
    transition: 0.3s;
}

.cards .card-img{
    position: relative;
    margin-top: 20px;
}

.cards .card-img::after{
    transition: 0.3s;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f144";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
}

.cards .card:hover .card-img::after{
    opacity: 1;
}

.cards .card:hover{
    transform: scale(1.02);
}

.main-content .card-img img{
    width: 100%; /* COME FARE MEGLIO??? */
}

.main-content .card h3{
    font-size: 1rem;
    margin-top: 10px;
}

.main-content .col span{
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 10px;
}

.artist .card-img{
    border-radius: 50%;
    overflow: hidden;
}

/************************************************************
FOOTER 
*************************************************************/
footer{
    padding: 0 10px;
    display: flex;
    width: 100%;
    height: 90px;
    background-color: rgb(40, 40, 40);
    justify-content: space-between;
    align-items: center;
}

/* LEFT ****************************************** */

.current-song-album{
    width: 45px;
}

.current-song-album img{
    width: 100%;
}

.current-song{
    display: flex;
    align-items: center;
}

.current-song-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

/* RIGHT ******************************************** */
.volume{
    width: 100%;
}

.bar.music-bar{
    width: auto;/* PERCHE server per mantenere la barra dentro il div right?????????????????????????????????????????????????????? */
}

/* LEFT/RIGHT COM ******************************************/
.left,
.right{
    display: flex;
    flex-basis: 220px;
    justify-content: space-between;
    align-items: center;
}

.list-icon{
    display: flex;
    align-items: center;
}

.list-icon ul{
    display: flex;
}

.left .list-icon li,
.right .list-icon li{
    transition: 0.3s;
    margin: 0 5px;
}

/* CENTER ************************************************** */
.center{
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    align-items: center;
    margin: 0 20px;
}

.center li{
    margin: 0 10px;
}

.center li:nth-child(3){
    margin: 0 20px;
}

.music-time{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}

.bar{
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: rgb(113, 113, 113);
    margin: 0 5px;
}

.bar-progression{
    position: absolute;
    height: 100%;
    width: 25%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.bar-progression::after{
    content: "";
    height: 6px;/* non posso mettere 100% widht, vi è un modo per far prendere width= height??? */
    width: 6px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .3s;
}

.bar:hover .bar-progression::after{
    opacity: 1;
}

